<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>TESTE JSF</title>
</h:head>

<h:body>
	<h:outputText value = "Bien Venido!"/>
</h:body>

</html>
